<html>
    <body bgcolor=#3399ff>
        <center>
        
        <h1> IRIS FLOWER DETECTION </h1><br>

        <form method="POST", action="{{url_for('home')}}">
            <b> First value : <input type="text", name='a', placeholder="enter first value"><br><br>
                First value : <input type="text", name='b', placeholder="enter second value"><br><br>
                First value : <input type="text", name='c', placeholder="enter third value"><br><br>
                First value : <input type="text", name='d', placeholder="enter fourth value"><br><br><br></b>
                <input type="submit", value='predict'>
        </form>


    </center>



    </body>
</html>